{
  "env": {
    "browser": true,
    "es2021": true,
    "react-native/react-native": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-native", "@typescript-eslint"],
  "ignorePatterns": ["node_modules", "**/vendor/*.js"]
  "rules": {
    "no-undef": "off", // Already covered by TypeScript
    "@typescript-eslint/explicit-module-boundary-types": "off", // Types should be inferred when possible
    "react/prop-types": "off", // We will use TypeScript's types for component props instead
    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "error",
    "react-native/no-inline-styles": "error",
    "react-native/no-color-literals": "error",
    "react-native/no-raw-text": "error",
    "react-native/no-single-element-style-arrays": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
